{% extends "header.html" %}

{% block content %}
	<head>
		<title>AnimatSoft - About</title>
	</head>

	<div class="title_section">
		<div class="container">
			<div class="section_presentation">
					<header>
						<h1 align="center">  About Us  </h1>
						<hr size="10px">
					</header>
				<div class="row" align="center">
					<p class="mt-2"><i id="first_worlk">S</i>omos un grupo de artistas animados a promocionar el software lible para la creacion y produccion de animaciones de forma gratuita, dando contenido y tecnicas de forma gratuita. </p>
					<p class="mt-4 mb-5" ><i id="first_worlk">Si </i> quieres contactar con nosotros, ve a la seccion de contacto en la barra<br> de navegacion o da click al siguiente boton para ir directamente:</p>
				</div>
				 	<center>
				 		<a class="btn btn-outline-light ps-5 pe-5 pt-2 pd-3" href="\contact" role="button">Contactar con nosotros</a>
				 	</center>
			</div>
		</div>
	</div>
{% endblock %}