{% extends "header.html" %}

{% block content %}
	<head>
		<title>AnimatSoft - Home</title>
	</head>

	<div class="title_section">
		<div class="container">
			<div class="section_presentation">
					<header>
						<h1 align="center"><u>  AnimatSoft  </u></h1>
					</header>
				<div class="row">
					<div class="columna-1 col-7">
						<img id="img_first_title" class="position-relative p-3" src="https://i.pinimg.com/originals/96/c8/84/96c884d67bb675db49ac6b8ee438a243.gif" alt="vector-animation" width="500px" height="400px">
					</div>
					<div class="columna-2 col-4">
						<h1 id="first_title">Bienvenidos</h1>
						<p class="mt-4">En esta pagina nos especificamos en la recomendacion de software para la animacion gratuitos de forma profecional. <br><br> "la animacion es mas que solo dibujar personajes, es contar una historia" - Alguien owo.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}