{% extends "header.html" %}

{% block content %}
	<head>
		<title>AnimatSoft - Programs</title>
	</head>

	<div class="programs">

		<!-- FIRST PROGRAM (KRITA) -->
		<section class="first_program_section">	
			<div class="container">
				<div class="krita_section">
						<header>
							<h1 align="center">1. Krita</h1>
							<hr size="10px">
						</header>
					<div class="row">
						<div class="columna-1 col-7">
							<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Calligrakrita-base.svg/600px-Calligrakrita-base.svg.png" alt="krita_logo" width="450px" height="450px">
						</div>
						<div class="columna-2 col-4">
							<p class="mt-2"><i id="first_worlk">El </i> primer programa es conocido como la opción gratuita más confiable para los artistas que van empezando. </p>
							<p class="mt-4 mb-5" >Este programa le da al artista la capacidad y las herramientas para ya sea que el artista quiera realizar una animación o crear un dibujo de cualquier tipo, dando también las múltiples herramientas que trae el mismo programa
</p>
						</div>
					</div>
					<div class="botonn_pag_krita">
						<center>
							<a class="btn btn-outline-light ps-5 pe-5 pt-2 pd-3" href="https://krita.org" role="button" target="_blank">Ver más sobre Krita</a>
						</center>
					</div>
					<div class="os_compatibles_section mt-4" align="center">
					 	<h5>Compatible con: </h5>
					 	<p class="os_compatibles"><i class="fab fa-windows"></i><i class="fab fa-apple"></i><i class="fab fa-linux"></i></p>
					</div>
				</div>
			</div>
		</section>

		<!-- SECONT PROGRAM (OPEN TOONZ) -->
		<section class="secont_program_section">	
			<div class="container">
				<div class="open_toonz_section">
						<header>
							<h1 align="center">2. Open Toonz</h1>
							<hr size="10px">
						</header>
					<div class="row">
						<div class="columna-1 col-7">
							<center>
								<img id="img_open_toonz" class="border border-light border-5" src="http://pm1.narvii.com/6789/2e2acc0f4c7cd0cc2d21fdf96e033526f65339aev2_00.jpg" alt="open_toonz_logo" width="445px" height="270px">
							</center>
						</div>
						<div class="columna-2 col-4">
							<p><i id="first_worlk">E </i>ste es un software que permite la creación de animaciones y el agregado de forma más profesional efectos a las mismas. </p>
							<p class="mt-4 mb-5" >Aunque su interfaz es difícil de comprender a simple vista, este le da al artista distintas herramientas para hacer una animación y la opción de agregarles efectos característicos a la misma.</p>
						</div>
					</div>
					<div class="botonn_pag_open_tooz">
						<center>
							<a class="btn btn-outline-light ps-5 pe-5 pt-2 pd-3" href="https://opentoonz.github.io/es" role="button" target="_blank">Ver más sobre Open Toonz</a>
						</center>
					</div>
					<div class="os_compatibles_section mt-4" align="center">
					 	<h5>Compatible con: </h5>
					 	<p class="os_compatibles"><i class="fab fa-windows"></i><i class="fab fa-apple"></i></p>
					</div>
				</div>
			</div>
		</section>

		<!-- THIRD PROGRAM (SYNFIG) -->
		<section class="third_program_section">	
			<div class="container">
				<div class="synfig_section">
						<header>
							<h1 align="center">3. Synfig</h1>
							<hr size="10px">
						</header>
					<div class="row">
						<div class="columna-1 col-7">
							<center>
								<img id="img_synfig" class="border border-light border-5" src="https://live.mrf.io/statics/i/ps/www.muylinux.com/wp-content/uploads/2017/01/Synfig-Studio-1.2.0.jpg?width=1200&enable=upscale" alt="Synfig_logo" width="420px" height="300px">
							</center>
						</div>
						<div class="columna-2 col-4">
							<p><i id="first_worlk">E </i>ste es un software de código abierto (Open Source) que permite al artista la creación de animaciones usando huesos o fotogramas.</p>
							<p class="mt-4 mb-5" >Como también es de código abierto, este programa le permite a programadores poder ayudar al proyecto para solucionar errores en el programa, hacer modificaciones como la creación de plugins de herramientas para mejorar la experiencia de usuario a los artistas y animadores.</p>
						</div>
					</div>
					<div class="botonn_pag_open_tooz">
						<center>
							<a class="btn btn-outline-light ps-5 pe-5 pt-2 pd-3" href="https://www.synfig.org/" role="button" target="_blank">Ver más sobre Synfig</a>
						</center>
					</div>
					<div class="os_compatibles_section mt-4" align="center">
					 	<h5>Compatible con: </h5>
					 	<p class="os_compatibles"><i class="fab fa-windows"></i><i class="fab fa-apple"></i><i class="fab fa-linux"></i></p>
					</div>
				</div>
			</div>
		</section>

		<!-- FOURTH PROGRAM (PENCIL2D) -->
		<section class="fourth_program_section">	
			<div class="container">
				<div class="pencil2d_section">
						<header>
							<h1 align="center">4. Pencil2D</h1>
							<hr size="10px">
						</header>
					<div class="row">
						<div class="columna-1 col-7">
							<center>
								<img id="img_pencil2D" class="border border-light border-5" src="https://i.ytimg.com/vi/ma52j9B1kEM/maxresdefault.jpg" alt="Pencil2D_logo" width="420px" height="300px">
							</center>
						</div>
						<div class="columna-2 col-4">
							<p><i id="first_worlk">E </i>ste es un software de código abierto (Open Source) que permite a los artista la creación de animaciones simples.</p>
							<p class="mt-4 mb-5" >Este software es ideal para animaciones simples o complejas, una interfaz agradable y simples y con una disposición para agregarle mejorar al proyecto en sí mismo, ya que es un software libre y de código abierto.</p>
						</div>
					</div>
					<div class="botonn_pag_open_tooz">
						<center>
							<a class="btn btn-outline-light ps-5 pe-5 pt-2 pd-3" href="https://www.pencil2d.org/" role="button" target="_blank">Ver más sobre Pencil2D</a>
						</center>
					</div>
					<div class="os_compatibles_section mt-4" align="center">
					 	<h5>Compatible con: </h5>
					 	<p class="os_compatibles"><i class="fab fa-windows"></i><i class="fab fa-apple"></i><i class="fab fa-linux"></i></p>
					</div>
				</div>
			</div>
		</section>

		<!-- FIFTH PROGRAM (BLENDER) -->
		<section class="fifth_program_section">	
			<div class="container">
				<div class="blender_section">
						<header>
							<h1 align="center">5. Blender</h1>
							<hr size="10px">
						</header>
					<div class="row">
						<div class="columna-1 col-7">
							<center>
								<img id="img_blender" class="border border-light border-5" src="https://www.pngkey.com/png/detail/343-3436326_i-want-to-create-a-blender-logo-design.png" width="420px" height="300px" alt="blender_logo">
							</center>
						</div>
						<div class="columna-2 col-4">
							<p><i id="first_worlk">E </i>ste es un software de modelación y animación en 3D gratuito y también de código abierto (Open Source).</p>
							<p class="mt-4 mb-5" >Este es uno de los más populares ya sea por las herramientas que provee el programa, la calidad que tiene para la animación y modelado 3D y las modificaciones (Plugins) que se le pueden agregar al programa de forma rápida y simple para aumentar la comodidad del mismo programa o para agregar funciones nuevas al programa.</p>
						</div>
					</div>
					<div class="botonn_pag_open_tooz">
						<center>
							<a class="btn btn-outline-light ps-5 pe-5 pt-2 pd-3" href="https://www.blender.org/" role="button" target="_blank">Ver más sobre Blender</a>
						</center>
					</div>
					<div class="os_compatibles_section mt-4" align="center">
					 	<h5>Compatible con: </h5>
					 	<p class="os_compatibles"><i class="fab fa-windows"></i><i class="fab fa-apple"></i><i class="fab fa-linux"></i></p>
					</div>
				</div>
			</div>
		</section>

	</div>


{% endblock %}